<html>
    <head>
    </head>
    <body>
        <h1>
           create post 
        </h1>
        <div id='most-things'>
            <form id="create-post" action="post" method="post">
                <input type="textarea" name="post" id="post-content" placeholder="put your html here"></input>
                <input type="submit" value="Submit">
        </div>
    </body>
</html>
